@import "../../common";

$size: 130px;

.userListItem {
  background: #ffffff78;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  max-width: 350px;
  max-height: 400px;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 20px;
  @extend %flexContainer;
  &:hover {
    background-color: rgb(217, 255, 161);
    border: 2px solid rgb(153, 255, 0);
  }
}
.imageWrapper {
  border-radius: 50%;
  width: $size;
  height: $size;
  border: 3px solid gray;
  background-size: cover;
  overflow: hidden;
  & > * {
    display: block;
  }
  &:hover {
    box-shadow: 0px 0px 25px 14px rgb(255, 255, 255);
  }
}
.link {
  text-decoration: none;
  color: #00a249;
  &:hover {
    color: rgb(166, 255, 0);
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 251, 0);
  }
}
